@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 
.navbar{
   
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    top: 0;
    z-index: 999;
}
.navbar.active{
    background: rgba(0, 0, 0, .9)
}
.navLink{
    color: wheat;
}
.navLink:hover{
    
    border-bottom: 2px solid wheat;
   
    
}
